@charset "UTF-8";
/* Imports */
/* Reset */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografía institucional */
body {
  font-family: "Red Hat Text", system-ui;
  color: #ffffff;
  background: #227b94;
}

/* Estilos del header */
header {
  width: 100%;
  height: auto;
  background: #16325b;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 8px 20px;
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
header a {
  width: 40px;
}
header a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header nav .navbar-toggler:hover {
  background-color: #227b94;
}
header nav .navbar-brand, header nav .navbar-brand-txt {
  color: #ffffff;
  text-decoration: none;
}
header nav .dropdown-menu {
  background-color: #16325b;
}
header nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
header nav ul li a {
  width: 100%;
  height: 100%;
  padding: 4px 8px;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #16325b;
  transition: 0.3s ease;
}
header nav ul li a:hover {
  background: #16325b;
}

/* Estilos del index */
main .img {
  width: 100%;
  height: 100vh;
  background: url(../img/Creatividad.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 500px;
  margin-bottom: 20px;
}
main .info {
  width: 100%;
  max-width: 1440px;
  height: 120px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
}
main .info h1 {
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
main .info p {
  width: 100%;
  max-width: 1200px;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 auto;
}

/* Estilos generales de botones */
.btn {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #16325b;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s ease;
  padding: 8px 24px;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  border: 1px solid transparent;
}
.btn:hover {
  background: #ffffff;
  color: #16325b;
  border: 1px solid #ffffff;
}
.btn.btn-hablanos {
  width: 100%;
  max-width: 200px;
  margin: 20px auto 40px auto;
}
.btn.btn-hablanos:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}

/* Estilos del footer */
footer {
  width: 100%;
  height: 50px;
  background: #16325b;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  text-align: center;
  color: whitesmoke;
}

/* Estilos de la página de servicios */
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 20px;
  padding: 120px 20px 50px 20px;
  transition: 0.3s ease-out;
}
.container .card {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 0 #16325b;
  border-radius: 16px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  color: #007bff;
  transition: transform 0.3s ease;
}
.container .card:hover {
  transform: scale(1.05);
}
.container .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilos de la página de contacto */
.contacto {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 120px 20px 50px 20px;
  transition: 0.3s ease-out;
  margin-bottom: 18px;
}
.contacto h1 {
  text-align: center;
  color: #ffffff;
  font-size: 36px;
}
.contacto form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  margin: 0 auto;
}
.contacto form label {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin: 4px 0;
  padding-left: 10px;
}
.contacto form input,
.contacto form textarea {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  padding-left: 10px;
  margin-bottom: 12px;
}
.contacto form textarea {
  height: auto;
}

/* Sección de videos */
.container-video {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 120px 20px 50px 20px;
  transition: 0.3s ease-out;
  margin-bottom: 18px;
}

/* Navbar estilos */
.navbar {
  background-color: #16325b;
  padding: 1rem;
}
.navbar .navbar-nav {
  display: flex;
  align-items: center;
}
.navbar .navbar-nav .nav-link {
  color: #007bff;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}
.navbar .navbar-nav .nav-link:hover {
  transform: scale(1.1);
  color: #007bff;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: #16325b;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #007bff;
  transition: all 0.3s ease;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
  transform: scale(1.1);
  color: #007bff;
}

/*# sourceMappingURL=style.css.map */
